body{
  background: rgb(94,94,94);
  background: linear-gradient(180deg, rgba(94,94,94,1) 0%, rgba(75,75,75,1) 50%, rgba(25,25,25,1) 75%);
}

#container {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 20px;
  width: 60%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;

}

label{
  vertical-align: middle;
  font-family: 'Roboto Slab', serif;
}
h3 {
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

.radio-inline{
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  font-weight: normal;

}
.inline{
  display: inline-block;
  margin-right: auto;
}
.inputspacing {

   width: 60%;
}
.buttonspacing {
  margin-left: auto;
}

#container > div > div {
 padding-bottom: 3%;
}

.formBox{
  background-color: grey;
  border-radius: 6px;
}
input[type=text] {
  position: relative;
  left: 15%;
  padding-top: 1%;
}
button {
  margin-top: 3%;
	background-color:grey;
	border-radius:5px;
	color: white;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
}
button:hover {
	background-color:white;
  color: black
}
button:active {
	position:relative;
	top:1px;
}



@media screen and (max-device-width: 480px){
}

